@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    background: #0e0d1a;
    font-family: 'Poppins';
}
© 2021 GitHub, Inc.
